poetry.lock linguist-generated=true
setup.py linguist-generated=true
exaslct_scripts/*.sh linguist-generated=true
.github/workflows/slc_ci*.yml linguist-generated=true
.github/workflows/slc_cd*.yml linguist-generated=true
