*tar.gz
*.pyc
*log
downloads/*
odbc.ini
.vscode/settings.json
.env
Pipfile.lock
emulator/zmqcontainer_pb2.py
.idea
.build_output/
luigi.cfg
*.iml
/codebuild_build.sh
exaudfclient/base/file.txt
dist
*.swp
test_container/tests/test/java/resources/java_udf/target/
