language: python
python: '3.6'
dist: xenial
sudo: required
services:
- docker
install:
- sudo pip install pipenv
env:
  global:
  - "FORCE_REBUILD=--force-rebuild"
jobs:
  include:
##################################################################################################
########################################## Test exaslct ##########################################
##################################################################################################
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_build.py"
    script:
    - travis/exaslct_test.sh test_docker_build.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_export.py"
    script:
    - travis/exaslct_test.sh test_docker_export.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_save.py"
    script:
    - travis/exaslct_test.sh test_docker_save.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_upload.py"
    script:
    - travis/exaslct_test.sh test_docker_upload.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_push.py"
    script:
    - travis/exaslct_test.sh test_docker_push.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_run_db_test.py"
    script:
    - travis/exaslct_test.sh test_docker_run_db_test.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_load.py"
    script:
    - travis/exaslct_test.sh test_docker_load.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_pull.py"
    script:
    - travis/exaslct_test.sh test_docker_pull.py
  - stage: "Test exaslct"
    name: "Test exaslct test_docker_registry_image_checker.py"
    script:
    - travis/exaslct_test.sh test_docker_registry_image_checker.py
##################################################################################################
########################## Build --goal language_deps --goal build_deps ##########################
##################################################################################################
  - stage: "Build --goal language_deps --goal build_deps"
    name: "standard-EXASOL-6.1.0"
    script:
    - "travis/build_language_deps_and_build_deps.sh --flavor-path flavors/standard-EXASOL-6.1.0"
  - name: "standard-EXASOL-6.0.0"
    script:
    - "travis/build_language_deps_and_build_deps.sh --flavor-path flavors/standard-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.0.0"
    script:
    - "travis/build_language_deps_and_build_deps.sh --flavor-path flavors/python3-ds-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.1.0"
    script:
    - "travis/build_language_deps_and_build_deps.sh --flavor-path flavors/python3-ds-EXASOL-6.1.0"
  - name: "fancyr-EXASOL-6.0.0"
    script:
    - "travis/build_language_deps_and_build_deps.sh --flavor-path flavors/fancyr-EXASOL-6.0.0"
  - name: "fancyr-EXASOL-6.1.0"
    script:
    - "travis/build_language_deps_and_build_deps.sh --flavor-path flavors/fancyr-EXASOL-6.1.0"
##################################################################################################
################################# Build --goal flavor_base_deps ##################################
##################################################################################################
  - stage: "Build --goal flavor_base_deps --goal build_run"
    name: "fancyr-EXASOL-6.0.0 --goal flavor_base_deps"
    script:
    - "travis/build_flavor_base_deps.sh --flavor-path flavors/fancyr-EXASOL-6.0.0"
  - name: "fancyr-EXASOL-6.1.0 --goal flavor_base_deps"
    script:
    - "travis/build_flavor_base_deps.sh --flavor-path flavors/fancyr-EXASOL-6.1.0"
  - name: "standard-EXASOL-6.1.0 --goal flavor_base_deps"
    script:
    - "travis/build_flavor_base_deps.sh --flavor-path flavors/standard-EXASOL-6.1.0"
  - name: "standard-EXASOL-6.0.0 --goal flavor_base_deps"
    script:
    - "travis/build_flavor_base_deps.sh --flavor-path flavors/standard-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.0.0 --goal flavor_base_deps"
    script:
    - "travis/build_flavor_base_deps.sh --flavor-path flavors/python3-ds-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.1.0 --goal flavor_base_deps"
    script:
    - "travis/build_flavor_base_deps.sh --flavor-path flavors/python3-ds-EXASOL-6.1.0"
##################################################################################################
##################################### Build --goal build_run #####################################
##################################################################################################
  - stage: "Build --goal flavor_base_deps --goal build_run"
    name: "standard-EXASOL-6.1.0 --goal build_run"
    script:
    - "travis/build_build_run.sh --flavor-path flavors/standard-EXASOL-6.1.0"
  - name: "standard-EXASOL-6.0.0 --goal build_run"
    script:
    - "travis/build_build_run.sh --flavor-path flavors/standard-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.0.0 --goal build_run"
    script:
    - "travis/build_build_run.sh --flavor-path flavors/python3-ds-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.1.0 --goal build_run"
    script:
    - "travis/build_build_run.sh --flavor-path flavors/python3-ds-EXASOL-6.1.0"
  - name: "fancyr-EXASOL-6.0.0 --goal build_run"
    script:
    - "travis/build_build_run.sh --flavor-path flavors/fancyr-EXASOL-6.0.0"
  - name: "fancyr-EXASOL-6.1.0 --goal build_run"
    script:
    - "travis/build_build_run.sh --flavor-path flavors/fancyr-EXASOL-6.1.0"
##################################################################################################
###################################### Build --goal release ######################################
##################################################################################################
  - stage: "Build --goal release"
    name: "fancyr-EXASOL-6.1.0"
    script:
    - "travis/build_release.sh --flavor-path flavors/fancyr-EXASOL-6.1.0"
  - name: "fancyr-EXASOL-6.0.0"
    script:
    - "travis/build_release.sh --flavor-path flavors/fancyr-EXASOL-6.0.0"
  - name: "standard-EXASOL-6.1.0"
    script:
    - "travis/build_release.sh --flavor-path flavors/standard-EXASOL-6.1.0"
  - name: "standard-EXASOL-6.0.0"
    script:
    - "travis/build_release.sh --flavor-path flavors/standard-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.0.0"
    script:
    - "travis/build_release.sh --flavor-path flavors/python3-ds-EXASOL-6.0.0"
  - name: "python3-ds-EXASOL-6.1.0"
    script:
    - "travis/build_release.sh --flavor-path flavors/python3-ds-EXASOL-6.1.0"
##################################################################################################
################################ Run DB Test standard-EXASOL-6.0.0 ###############################
##################################################################################################
  - stage: "Run DB Test"
    name: "standard-EXASOL-6.1.0 --generic-language-test=python --test-folder=python"
    script:
    - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.1.0
    --generic-language-test=python
    --test-folder=python"
  - name: "standard-EXASOL-6.1.0 --generic-language-test=java --test-folder=java"
    script:
    - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.1.0
    --generic-language-test=java
    --test-folder=java"
  - name: "standard-EXASOL-6.1.0 --generic-language-test=r --test-folder=r"
    script:
    - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.1.0
    --generic-language-test=r
    --test-folder=r"
  - name: "standard-EXASOL-6.1.0 --generic-language-test=python3 --test-folder=python3"
    script:
    - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.1.0
    --generic-language-test=python3
    --test-folder=python3"
  - name: "standard-EXASOL-6.1.0 --test-folder=standard-flavor"
    script:
    - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.1.0
    --test-folder=standard-flavor"
##################################################################################################
################################ Run DB Test standard-EXASOL-6.0.0 ###############################
##################################################################################################
  - stage: "Run DB Test"
    name: "standard-EXASOL-6.0.0 --generic-language-test=python --test-folder=python"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.0.0
      --generic-language-test=python
      --test-folder=python"
  - name: "standard-EXASOL-6.0.0 --generic-language-test=java --test-folder=java"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.0.0
      --generic-language-test=java
      --test-folder=java"
  - name: "standard-EXASOL-6.0.0 --generic-language-test=r --test-folder=r"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/standard-EXASOL-6.0.0
      --generic-language-test=r
      --test-folder=r"
# TODO standard-flavor test with 6.0.0 doesn't work because the test expects python3 and makes no exception
##################################################################################################
############################### Run DB Test python3-ds-EXASOL-6.0.0 ##############################
##################################################################################################
  - stage: "Run DB Test"
    name: "python3-ds-EXASOL-6.0.0 --generic-language-test=python3"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/python3-ds-EXASOL-6.0.0
      --generic-language-test=python3"
  - name: "python3-ds-EXASOL-6.0.0 --test-folder=python3 --test-folder=python3-ds-flavor"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/python3-ds-EXASOL-6.0.0
      --test-folder=python3
      --test-folder=python3-ds-flavor"
##################################################################################################
############################### Run DB Test python3-ds-EXASOL-6.1.0 ##############################
##################################################################################################
  - stage: "Run DB Test"
    name: "python3-ds-EXASOL-6.1.0 --generic-language-test=python3"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/python3-ds-EXASOL-6.1.0
      --generic-language-test=python3"
  - name: "python3-ds-EXASOL-6.1.0 --test-folder=python3 --test-folder=python3-ds-flavor"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/python3-ds-EXASOL-6.1.0
      --test-folder=python3
      --test-folder=python3-ds-flavor"
##################################################################################################
############################### Run DB Test fancyr-EXASOL-6.0.0 ##################################
##################################################################################################
  - stage: "Run DB Test"
    name: "fancyr-EXASOL-6.0.0 --generic-language-test=r --test-folder=r"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/fancyr-EXASOL-6.0.0
      --generic-language-test=r
      --test-folder=r"
##################################################################################################
############################### Run DB Test fancyr-EXASOL-6.1.0 ##################################
##################################################################################################
  - stage: "Run DB Test"
    name: "fancyr-EXASOL-6.1.0 --generic-language-test=r --test-folder=r"
    script:
      - "travis/run_db_test.sh --flavor-path flavors/fancyr-EXASOL-6.1.0
      --generic-language-test=r
      --test-folder=r"
##################################################################################################
############################################ Deploy ##############################################
##################################################################################################
  - stage: "Deploy"
    name: "Export Containers"
    script:
    - "travis/export.sh
      --flavor-path flavors/standard-EXASOL-6.0.0
      --flavor-path flavors/standard-EXASOL-6.1.0
      --flavor-path flavors/fancyr-EXASOL-6.0.0
      --flavor-path flavors/fancyr-EXASOL-6.1.0
      --flavor-path flavors/python3-ds-EXASOL-6.0.0
      --flavor-path flavors/python3-ds-EXASOL-6.1.0"
    deploy:
      provider: releases
      api_key: "$GH_TOKEN"
      file_glob: true
      file: .build_output/exports/*.tar.gz
      skip_cleanup: true
      draft: true
      on:
        branch: new-docker-build-pipeline
#        repo: exasol/script-languages
stages:
- "Test exaslct"
- "Build --goal language_deps --goal build_deps"
- "Build --goal flavor_base_deps --goal build_run"
- "Build --goal release"
- "Run DB Test"
- "Deploy"
