#
language: python
python: "3.6"
dist: xenial # trusty fails with weird FileNotFoundError in ExportContainerTask

sudo:  required
services:
    - docker

install:
  - sudo pip install pipenv

script:
  - ./exaslct run-db-test --flavor-path exaslct_src/test/resources/test-flavor/ --release-type Release --workers 5

