{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  {% if build_mode == "rebuild"  %}
  "disabled": "true",
  {% elif build_mode == "build" %}
  "disabled": "false",
  {% elif build_mode == "release" %} 
  "disabled": "false",
  {% endif %}
  "triggerTemplate": {
    "projectId": "{{ gcloud_project_name }}",
    "repoName": "github_{{ github_user_name }}_{{ github_repository }}",
    {% if build_mode == "rebuild"  %}
    "branchName": ".*"
    {% elif build_mode == "build" %}
    "branchName": "^(feature|bug|enhancement|refactoring|ci)/.*"
    {% elif build_mode == "release" %} 
    "branchName": "^develop"
    {% endif %}
  },
  {% if build_mode == "rebuild"  %}
  "description": "Rebuild branch {{ flavor }}",
  {% elif build_mode == "build" %}
  "description": "Build branch {{ flavor }}",
  {% elif build_mode == "release" %} 
  "description": "Build release {{ flavor }}",
  {% endif %}
  "substitutions": {
    "_JOB_ID": "{{ job_id }}", 
    {% if build_mode == "rebuild"  %}
    "_REBUILD": "True",
    {% elif build_mode == "build" %}
    "_REBUILD": "False",
    {% elif build_mode == "release" %} 
    "_REBUILD": "True",
    {% endif %}
    "_FLAVOR": "{{ flavor }}",
    "_LOG_BUCKET": "{{ log_bucket }}",
    "_CONTAINER_BUCKET": "{{ container_bucket }}",
    "_KEY_RING_NAME": "{{ key_ring_name }}",
    "_KEY_NAME": "{{ key_name }}",
    "_BUILD_DOCKER_REPOSITORY": "{{ build_docker_repository }}",
    "_BUILD_DOCKER_USER": "{{ docker_user }}",
    "_BUILD_DOCKER_PASSWORD": "{{ docker_password }}",
    "_GITHUB_TOKEN": "{{ github_token }}",
    "_GITHUB_USER_NAME": "{{ github_user_name }}",
    "_GITHUB_REPOSITORY": "{{ github_repository }}",
    "_JOB_TYPE": "build+test"
  },
  {% if build_mode == "build" %}
  "includedFiles": [
    "src/**",
    "exaslct_src/**",
    "flavors/{{ flavor }}/**",
    "ext/**",
    "test/**",
    "google-cloud-build/**"
  ],
  {% endif %}
  "filename": "google-cloud-build/ci-scripts/build_branch.yaml"
}
