{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  {% if disabled == true %}
  "disabled": "true",
  {% elif build_mode == "rebuild"  %}
  "disabled": "false",
  {% elif build_mode == "build" %}
  "disabled": "false",
  {% elif build_mode == "release" %} 
  "disabled": "false",
  {% endif %}
  "triggerTemplate": {
    "projectId": "{{ gcloud_project_name }}",
    "repoName": "github_{{ github_user_name }}_{{ github_repository }}",
    {% if build_mode == "rebuild"  %}
    "branchName": "^(rebuild)/.*"
    {% elif build_mode == "build" %}
    "branchName": "^(feature|bug|enhancement|refactoring|ci)/.*"
    {% elif build_mode == "release" %} 
    "branchName": "^(develop|master|ci-release-test/.*)$"
    {% endif %}
  },  
  {% if build_mode == "rebuild"  %}
  "description": "Rebuild branch {{ flavor }} {{ repo_short_name }}",
  {% elif build_mode == "build" %}
  "description": "Build branch {{ flavor }} {{ repo_short_name }}",
  {% elif build_mode == "release" %} 
  "description": "Build release {{ flavor }} {{ repo_short_name }}", 
  {% endif %}
  "substitutions": {
    "_JOB_ID": "{{ job_id }}", 
    {% if build_mode == "rebuild"  %}
    "_REBUILD": "True",
    {% elif build_mode == "build" %}
    "_REBUILD": "False",
    {% elif build_mode == "release" %} 
    "_REBUILD": "True",
    {% endif %}
    "_FLAVOR": "{{ flavor }}",
    "_LOG_BUCKET": "{{ log_bucket }}",
    "_CONTAINER_BUCKET": "{{ container_bucket }}",
    "_KEY_RING_NAME": "{{ key_ring_name }}",
    "_KEY_NAME": "{{ key_name }}",
    "_BUILD_DOCKER_REPOSITORY": "{{ build_docker_repository }}",
    "_RELEASE_DOCKER_REPOSITORY": "{{ release_docker_repository }}",
    "_DOCKER_USER": "{{ docker_user }}",
    "_DOCKER_PASSWORD": "{{ docker_password }}",
    "_GITHUB_TOKEN": "{{ github_token }}",
    "_GITHUB_USER_NAME": "{{ github_user_name }}",
    "_GITHUB_REPOSITORY": "{{ github_repository }}",
    "_JOB_TYPE": "build+test"
  },
  {% if build_mode == "build" %}
  "includedFiles": [
    ".current_gitmodules",
    "Dockerfile",
    "exaslct",
    "exaslct_src/**", 
    "exaudfclient/**",
    "ext/**",
    "flavors/{{ flavor }}/**",
    "google-cloud-build/**",
    "pipenv_utils.sh",
    "Pipfile",
    "run_exaslct_test.sh",
    "test_exaslct_init_script.sh",
    "tests/**"
  ],
  {% endif %}
  {% if build_mode == "release" %}
  "filename": "google-cloud-build/ci-scripts/build_master_branch.yaml" 
  {% else %}
  "filename": "google-cloud-build/ci-scripts/build_branch.yaml" 
  {% endif %}
}
