{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  "disabled": "{{ disabled }}",
  "triggerTemplate": {
    "projectId": "{{ gcloud_project_name }}",
    "repoName": "github_{{ github_user_name }}_{{ github_repository }}",
    "branchName": "^pull_request/.*"
  },
  "description": "Build pull request {{ flavor }}",
  "substitutions": {
    "_JOB_ID": "{{ job_id }}",
    "_FLAVOR": "{{ flavor }}",
    "_LOG_BUCKET": "{{ log_bucket }}",
    "_GITHUB_USER_NAME": "{{ github_user_name }}",
    "_GITHUB_REPOSITORY": "{{ github_repository }}",
    "_JOB_TYPE": "build+test"
  },
  "includedFiles": [
    "src/**",
    "exaslct_src/**",
    "flavors/{{ flavor }}/**",
    "ext/**",
    "test/**",
    "google-cloud-build/**"
  ],
  "filename": "google-cloud-build/ci-scripts/build_pull_request.yaml"
}
