{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  {% if debug == false  %}
  "disabled": "false",
  {% else %}
  "disabled": "true",
  {% endif %}
  "triggerTemplate": {
    "projectId": "{{ gcloud_project_name }}",
    "repoName": "github_{{ github_user_name }}_{{ github_repository }}",
    {% if debug == false  %}
    "tagName": "^(([^c][^i][^/]|[^c]i.|c[^i].|ci[^/]).*|..$)"
    {% else  %}
    "branchName": "^ci-release-test/.*"
    {% endif %}
  }, 
  {% if debug == false  %}
  "description": "Release {{ repo_short_name}}",
  {% else %}
  "description": "Release Debug {{ repo_short_name }}",
  {% endif %}
  "substitutions": {
    "_JOB_ID": "{{ job_id }}",
    "_FLAVORS": "{{ flavors }}",
    "_LOG_BUCKET": "{{ log_bucket }}",
    "_CONTAINER_BUCKET": "{{ container_bucket }}",
    "_KEY_RING_NAME": "{{ key_ring_name }}",
    "_KEY_NAME": "{{ key_name }}",
    "_BUILD_DOCKER_REPOSITORY": "{{ build_docker_repository }}",
    "_DOCKER_USER": "{{ docker_user }}",
    "_DOCKER_PASSWORD": "{{ docker_password }}",
    "_GITHUB_TOKEN": "{{ github_token }}",
    "_GITHUB_USER_NAME": "{{ github_user_name }}",
    "_GITHUB_REPOSITORY": "{{ github_repository }}",
    "_JOB_TYPE": "release"
  },
  "filename": "google-cloud-build/ci-scripts/release.yaml"
}
