name: Check Bazel Tests

on:
  push:
    branches:
      - master
  pull_request:

env:
  USE_BAZEL_VERSION: 8.3.1
  UDF_CLIENT_ENV_FILE: /tmp/.udf_client_env
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Search for duplicated error codes
        run: bash find_duplicate_error_codes.sh

      - name: Install UDF Client Dependencies
        run: |
          sudo bash scripts/installUdfClientDeps.sh "$UDF_CLIENT_ENV_FILE"
      - name: Build
        run: |
          source "$UDF_CLIENT_ENV_FILE"
          bazel build --lockfile_mode=off --config no-tty -c dbg --config python --config java --config fast-binary --verbose_failures
        working-directory: ./exaudfclient/

  tests:
    runs-on: ubuntu-24.04
    strategy:
     fail-fast: false
     matrix:
        include:
          - test: "//javacontainer/test:ExaStackTraceCleanerTest"
            name: "ExaStackTraceCleanerTest"
            java_version: "openjdk-11-jdk"
          - test: "//javacontainer/test:ExaStackTraceCleanerTest"
            name: "ExaStackTraceCleanerTest"
            java_version: "openjdk-17-jdk"
          - test: "//javacontainer/test:javacontainer-test-extractor-legacy"
            name: "javacontainer-test-extractor-legacy"
            java_version: "openjdk-11-jdk"
          - test: "//javacontainer/test:javacontainer-test-extractor-v2"
            name: "javacontainer-test-extractor-v2"
            java_version: "openjdk-11-jdk"
          - test: "//javacontainer/script_options/..."
            name: "javacontainer-script_options"
            java_version: ""
          - test: "//exaudflib/test/..."
            name: "exaudflib"
            java_version: ""
          - test: "//script_options_parser/ctpg/..."
            name: "script_options_parser_ctpg"
            java_version: ""
          - test: "//script_options_parser/legacy/..."
            name: "script_options_parser_legacy"
            java_version: ""
          - test: "--run_under='valgrind --leak-check=yes' --config=valgrind //javacontainer/test:javacontainer-test-extractor-legacy"
            name: "javacontainer-test-extractor-legacy-with-valgrind"
            java_version: "openjdk-11-jdk"
          - test: "--run_under='valgrind --leak-check=yes' --config=valgrind //javacontainer/test:javacontainer-test-extractor-v2"
            name: "javacontainer-test-extractor-v2-with-valgrind"
            java_version: "openjdk-11-jdk"
          - test: "--run_under='valgrind --leak-check=yes' --config=valgrind //script_options_parser/ctpg/..."
            name: "script_options_parser_ctpg_with_valgrind"
            java_version: ""
          - test: "--run_under='valgrind --leak-check=yes' --config=valgrind //script_options_parser/legacy/..."
            name: "script_options_parser_legacy_with_valgrind"
            java_version: ""
          - test: "--config=asan //javacontainer/test:javacontainer-test-extractor-legacy"
            name: "javacontainer-test-extractor-legacy-with-asan"
            java_version: "openjdk-11-jdk"
          - test: "--config=asan //javacontainer/test:javacontainer-test-extractor-v2"
            name: "javacontainer-test-extractor-v2-with-asan"
            java_version: "openjdk-11-jdk"
          - test: "--config=asan //script_options_parser/ctpg/..."
            name: "script_options_parser_ctpg_with_asan"
            java_version: ""
          - test: "--config=asan //script_options_parser/legacy/..."
            name: "script_options_parser_legacy_with_asan"
            java_version: ""
    steps:
      - uses: actions/checkout@v6
      - name: Install JDK and ZMQ
        run: |
          sudo apt-get update
          sudo apt-get install -y ${{ matrix.java_version }} libzmq3-dev valgrind
      - name: Install bazel
        run: | 
          BAZEL_PACKAGE_FILE="bazel_$BAZEL_PACKAGE_VERSION-linux-x86_64.deb"
          BAZEL_PACKAGE_URL="https://github.com/bazelbuild/bazel/releases/download/$BAZEL_PACKAGE_VERSION/$BAZEL_PACKAGE_FILE"
          curl -L --output /tmp/"$BAZEL_PACKAGE_FILE" "$BAZEL_PACKAGE_URL"
          sudo apt install -y "/tmp/$BAZEL_PACKAGE_FILE"
          rm "/tmp/$BAZEL_PACKAGE_FILE"
        env:
          BAZEL_PACKAGE_VERSION: "8.3.1"
      - name: Run tests
        run: |
          bazel test ${{ matrix.additional_args }} ${{ matrix.test }}
        working-directory: ./exaudfclient/base
        env:
          OPENSSL_LIBRARY_PREFIX: "/usr/lib/x86_64-linux-gnu"
          OPENSSL_INCLUDE_PREFIX: "/usr/include/openssl"

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: "${{ matrix.name }}"
          path: /home/runner/.cache/bazel/_bazel_runner/*/execroot/_main/bazel-out/k8-dbg/testlogs/**/test.log
