name: Check bash scripts

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run shellcheck
        run: ./scripts/shellcheck.sh
