name: Test package management scripts

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test_package_management_scripts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with:
        python-version: 3.10

    - name: Init submodules
      run: git submodule update --init --recursive

    - name: Test install scripts dry-run
      run: bash run_tests.sh 
      working-directory: ext/scripts/tests/install_scripts


    - name: Test install scripts in docker container
      run: bash test_scripts_in_docker.sh 
      working-directory: ext/scripts/tests/

    - name: Test list installed scripts
      run: bash run_tests.sh 
      working-directory: ext/scripts/tests/list_installed_scripts
